@import '../../shared/styles/shared.scss';

.login-form {
  display: flex;
  flex-direction: column;
  width: 370px;
  justify-content: center;

  .login-form__btn {
    width: 100%;
  }

  .login-form__link {
    float: right;
  }
}

.forgot-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  padding: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

  &__body {



    & form {
      width: 400px;

      & .ant-form-item-label {
        text-align: left;
      }
    }
  }

  &__footer {
    text-align: right;
    width: 100%;

    & button {
      margin-left: 20px;
    }
  }
}
