@import '../../shared/styles/shared.scss';

.signup-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .ant-steps {
    width: 400px;
    margin-bottom: 20px;
  }
}
