@import '../../shared/styles/shared.scss';

.signup-form {
  display: flex;
  flex-direction: column;
  width: 620px;
  box-shadow: #2a2a2a 1px 1px 5px 0;
  padding: 30px 50px;

  .flex > label {
    width: 300px;
    overflow: hidden;
  }

  .flex > .ant-row {
    flex: 1;
    margin-left: 10px;
  }

  .signup-form__btn {
    width: 100%;
  }

  .signup-form__title {
    display: flex;
    justify-content: center;
    font-size: 20px;
    text-transform: uppercase;
  }

  .signup-form__link {
    float: right;
    font-size: 16px;
  }

  .wrap-normal {
    .ant-form-item-label {
      white-space: normal;
    }
  }

  .unset-lh {
    .ant-form-item-label {
      line-height: unset;
    }
  }
}
