@import '../../shared/styles/shared.scss';
.content {
  height: calc(100vh - #{$header} - #{$footer});
  overflow-y: auto;
}

.collections {
  background-color: #E0F2F1;
  width: 100vw;
  display: flex;
  flex: 1;

  &__content-noUser {
    background-color: #fff;
    margin: 3px 3px 0 3px;
    padding: 10px;
    height: calc(100% - 20px);
    overflow: auto;
    transition: margin-left .3s;
    width: 100%;
    //display: flex;
    //flex-direction: column;
    //justify-content: center;
    //align-items: center;
  }

  &__content {
    background-color: #fff;
    margin: 3px 3px 0 0;
    width: 100%;
    padding: 0 10px;
    height: calc(100% - 6px);
    overflow: auto;
    transition: margin-left .3s;

    &-pushed {
      margin: 3px 3px 0 340px;
      padding: 0 10px;
      height: calc(100% - 20px);
      overflow: auto;
      transition: margin-left .3s;
      background-color: #fff;
    }
  }
}

.Sider2 {
  background: transparent;
  height: $sidebar;
  padding: 3px;
}

.SiderMenu {
  display: flex;
  flex-direction: column;
  padding: 0;
  height: 100%;
  background-color: #fff;
  width: $siderMenuWidth;
  overflow: hidden;
  white-space: nowrap;
  transition: width .3s;

  &-collapsed {
    width: 50px;

    /*a {
      padding: 8px 16px!important;
    }*/

    .sider-nav i {
      font-size: 24px!important;
      width: 30px !important;
      transition: all .3s;
    }
  }

  &__header {
    text-align: center;
    padding: 20px 0;
    font-size: 18px;
    border-bottom: 3px solid #e0f2f1;
  }

  &__collectionsList {
    margin-top: 5px;
    width: $siderMenuWidth;
    height: calc(100% - 60px);
    overflow: auto;

    & li {
      font-size: 16px;
      white-space: normal;
      border-bottom: 1px solid #e1e1e1;

      .sider-nav {
        color: rgba(0, 0, 0, 0.65);
        display: flex;
        align-items: center;
        user-select: none;

        & > i {
          padding: 12px;
          margin-right: 15px;
          width: 24px;

          &.active {
            color: #009688;
          }

          &::before {
            width: 24px;
          }
        }

        &:hover {
          color: #009688;
        }
      }

      & span {
        padding: 12px;
        display: block;
        line-height: 18px;
      }
    }
  }

  .submenu {

    display: flex;
    flex-direction: column;

    .sider-nav {
      width: 100%;
      display: flex;
      align-items: center;
      font-size: 12px;

      span {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        font-weight: 600;

        i {
          margin-right: 0;
        }
      }
    }

    ul {
      display: none;
      width: 100%;
      animation: antSlideUpIn .3s;

      &.open {
        display: block;
      }

      li {
        border-bottom: none;
        border-top: 1px solid #e1e1e1;
        background-color: #fcfcfc;
      }

      a.sider-nav {
        padding: 4px 10px 4px 30px;
      }
    }
  }
}

.tooltip-navs {
  li {
    border-bottom: 1px solid rgba(0, 0, 0, .3);

    a {
      display: inline-block;
      padding: 5px 30px 2px 10px;
      width: 100%;
      color: rgba(0, 0, 0, 0.65);

      &:hover {
        color: #009688;
        background-color: #e0f2f1;
      }
    }
  }
}

.SiderToggle__btn {
  position: fixed;
  background-color: #fff;
  width: 50px;
  height: 40px;
  border: none;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: #e6e6e6;
  }
}

.SiderMenu__item {
  display: flex;
  padding: 10px 20px;

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

.ant-tooltip-white {
  .ant-tooltip-arrow {
    border-right-color: #009688;
  }
  .ant-tooltip-inner {
    background-color: rgba(255,255,255,.8);
  }
}

///////////////////////////////////////////ANT_LAYOUT_SIDER///////////////////////////////////////////

.sider-item {
  white-space: normal;
  line-height: 20px!important;
  height: auto!important;
  padding: 10px 16px!important;
  font-size: 16px!important;
}

