@import '../../shared/styles/shared.scss';

.header {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  background-color: #009688;
  color: white;
  height: $header;
  flex: 0 0 $header;
  justify-content: space-between;
  box-shadow: inset 0px 1px 6px 0px rgba(0,0,0,0.5);
}

.header__logo {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;

  &__name {
    text-align: right;
  }
  
  &__system {
    text-align: left;
  }
  
  h3 {
    color: #fff;
    font-size: 14px;
    width: 350px;
    line-height: 16px;
    text-transform: uppercase;
    //font-family: 'Book Antiqua', serif;
  }

  img {
    height: 57px;
    width: 59px;
    margin: 0 32px;
  }
}

.header__title {
  display: flex;
  justify-content: center;
  flex: 0 0 60%;
  font-size: 28px;
}

.nav-wrapper {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  flex: 0 0 100%;
  height: 100%;
  align-items: center;
  font-size: 16px;
  z-index: 2;
  padding-top: 13px;

  .nav-wrapper__link {
    color: #ffffff;
    padding: 7px;

    &:hover {
      text-decoration: underline;
      background-color: rgba(0,0,0,.1);
      transition: background-color .3s;
    }
  }

  &__basket {
    cursor: pointer;
    padding: 7px;
    position: relative;
    outline: none;

    & .basketDropdown {
      position: absolute;
      background-color: #fff;
      width: 450px;
      left: -250px;
      z-index: 9;
      max-height: 600px;
      overflow-y: auto;
      border: 1px solid #0a88b7;

      &__list {
        padding: 14px;
        display: flex;
        background-color: #fff;
        color: #0a88b7;
        cursor: pointer;
        align-items: center;
        border-bottom: 1px solid;

        &:hover {
          color: #fff;
          background-color: #0a88b7;
        }

        &-heading {
          padding: 15px;
          background-color: #f5f5f5;
          text-transform: uppercase;
          cursor: default;

          h4 {
            color: #066fbc!important;
          }
        }

        &__icon {
          flex: 0 0 30px;
        }

        &__name {
          flex: 0 0 350px;
          line-height: 16px;
          padding: 15px;
        }

        &__check {
          z-index: 10;

          label {
            z-index: -1;
          }
        }

        &-btn {
          cursor: default;
          padding: 15px;
          display: block;
          text-align: right;
        }
      }
    }
    &:hover {
      background-color: rgba(0, 0, 0, .1);
      transition: background-color .3s;
    }
  }

  &__lang {
    cursor: pointer;
    padding: 7px;

    .ant-scroll-number {
      height: 14px;
      min-width: 16px;
      background: #ff9800;
      line-height: 14px;
    }

    & .langDropdown {

      &__list {
        padding: 14px;
        display: block;
        height: 100%;
        background-color: #fff;
        color: #0a88b7;

        &:hover {
          color: #fff;
          background-color: #0a88b7;
        }
      }
    }

    &:hover {
      background-color: rgba(0,0,0,.1);
      transition: background-color .3s;

      .langDropdown {
        display: block;
      }
    }
  }

  &__profile {
    cursor: pointer;
    font-size: 16px;
    padding: 7px;
    position: relative;

    .profileDropdown {
      right: 0;
      width: 100px;
    }

    &:hover {
      background-color: rgba(0,0,0,.1);
      transition: background-color .3s;

      .profileDropdown {
        display: block;
      }
    }
  }
}



.profileDropdown, .langDropdown {
  position: absolute;
  display: none;
  z-index: 9;

  &__list {

    a {
      padding: 14px;
      display: block;
      height: 100%;
      background-color: #fff;

      &:hover {
        color: #fff;
        background-color: #0a88b7;
      }
    }
  }
}


