@import '../../shared/styles/shared.scss';

.help-question {
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 30px;
}

.FAQPage {
  min-height: $sidebar;
  h2 {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 700;
    padding-top: 30px;
  }
}

.Instructions {
  min-height: $sidebar;

  h2 {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 700;
    padding-top: 30px;
  }
}

.Question {
  margin: 30px;

  &__title {
    font-size: 24px;
    color: #066fbc;
  }

  &__body {
    border: 4px solid #ddd;
    min-height: 80px;
    padding: 10px;
  }
}

.sider-nav {
  cursor: pointer;

  &:hover {
    color: #066fbc;
  }
}
