@import '../../shared/styles/shared.scss';

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.hero-box {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
  border: solid 0.5px rgba(122.133, 122.133, 122.133, 0.41);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 0;
  margin: 10px;

  &:hover {
    background-color: #e8f6ff;
    box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.33);
    border: solid 2px #077dc7;
  }
}

.hero-box__title {
  text-align: center;
  font-size: 18px;
  margin: 20px;
  color: #404040;
  @media (min-width: $min-width) {
    font-size: 22px;
  }
}

.hero-box__img {
  display: block;
  height: 100px;
  background-size: 124px !important;
}

.hero-box__img.logo {
  margin-top: 20px;
  margin-bottom: 20px;
  background: url(../assets/img/logo.svg) no-repeat center;
}

.hero-content {
  min-width: 1100px;
  min-height: 500px;
  box-shadow: #333 1px 3px 7px 0;
  background-color: #fff;
  margin-top:20px;
  text-align: center;

  &__title {
    font-size: 16px;
  }
}




.slick-slider {
  width: 1000px;
  padding: 20px 10px;
  margin-top: 20px;
  background-color: #fff;
  /*@media (min-width: $min-width) {
    width: 1500px;
  }*/
}

.slick-slide {
  text-align: center;
}

.slick-prev:before, .slick-next:before {
  color: #0a88b7;
  opacity: 1;
}
