.link-btn {
  position: absolute;
  right: 30px;
  z-index: 1;
}

.NSA {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px 0;

  .CreateDocument {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

    .tableHeader__btns {
      .ant-input-search {
        flex-basis: 350px;
      }
    }

    &__body {
      flex: 1;
      overflow: hidden;
    }

  }

  .EditNSAPage {
    flex: 1;
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 18px;
    }

    &__heading {
      display: flex;
      justify-content: space-between;
    }
  }

  .SearchNSA {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .newTable {
    height: 100%;
    display: flex;
    flex-direction: column;

    &__header {
      background-color: #f7f7f7;
      padding: 5px;
    }
  }

  .newTable-enter {
    opacity: 0.01;
    transform: scale(0.9) translateX(100%);
  }
  .newTable-enter-active {
    opacity: 1;
    transform: scale(1) translateX(0%);
    transition: all 200ms ease-out;
  }
  .newTable-exit {
    opacity: 1;
    transform: scale(1) translateX(0%);
  }
  .newTable-exit-active {
    opacity: 0.01;
    transform: scale(0.9) translateX(100%);
    transition: all 200ms ease-out;
  }
  .classifier-list-enter {
    opacity: 0.01;
    transform: scale(0.9) translateX(-100%);
  }
  .classifier-list-enter-active {
    opacity: 1;
    transform: scale(1) translateX(0%);
    transition: all 200ms ease-out;
  }
  .classifier-list-exit {
    opacity: 1;
    transform: scale(1) translateX(0%);
  }
  .classifier-list-exit-active {
    opacity: 0.01;
    transform: scale(0.9) translateX(-100%);
    transition: all 200ms ease-out;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .LinearReference, .HierarchyReference, .Classifier {
    display: flex;
    height: 100%;
    padding: 5px;
  }

  &__list {
    flex: 0 0 300px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
    height: 100%;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;

    ul {
      margin-top: 10px;
      flex: 1;
      overflow: auto;

      & li {
        font-size: 16px;
        min-height: 32px;
        border-bottom: 1px solid #f1f1f1;
        display: flex;
        align-items: flex-end;

        span {
          padding: 4px 8px;
          color: rgba(0, 0, 0, 0.65);
          cursor: pointer;

          &:hover {
            color: #1890ff;
          }
        }
      }
    }
  }

  &__content {
    flex: 1;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
    margin-left: 10px;
  }

  .factorView, .objectView {
    height: 100%;
    display: flex;
    flex-direction: column;

    &__heading {
      display: flex;
      padding: 10px;
      background-color: #f7f7f7;

      button {
        margin: 0 8px;
      }

      .ant-input-search {
        width: 300px;
        margin-left: 8px;
      }
    }
    &__body {
      height: 100%;
      flex: 1;
      padding: 10px;
    }
  }

  .factorView {

    .category-list {
      width: 200px;
      box-shadow: rgba(0,0,0,.14) -2px 0 2px, rgba(0,0,0,.14) 2px 1px 3px;
      li {
        padding: 5px;
        border-bottom: 1px solid rgba(0,0,0,.44);
      }
    }
  }

  .objectView {

  }

  &-modal {
    .addForm {


      input {
        margin-right: 20px;
      }

      &__row {
        display: flex;
        align-items: center;
        padding: 5px 0;

        & > label {
          flex: 0 0 130px;
        }

        & > input, .Select {
          flex: 0 0 240px;
        }
      }

      .ant-radio-group {
        flex-basis: 200px;
      }
      .ant-radio-button-wrapper {
        padding: 0 6px;
      }
    }
  }
}


/////////////////////EditNSAViewDoc////////////////////

.EditNSAViewDoc {
  height: 100%;
  display: flex;
  padding: 7px;

  .NSA__list {
    padding: 0;

    ul {
      padding: 7px;
    }
  }

  &__list__heading {
    padding: 5px;
    background-color: #f7f7f7;
    button {
      margin-right: 10px;
    }
  }
}

.EditNSADocCard {
  height: 100%;
  overflow: auto;
}

/////////////////////EditNSAViewDoc////////////////////


////////////////////IndividualsMainInfo///////////////////////////

.IndividualsMainInfo {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

////////////////////IndividualsMainInfo///////////////////////////