//////////////////// hides spin on input type=number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.flex {
  display: flex;
}
.center-with-ant-input {
  padding-top: 4px;
  font-size: 16px;
}


.profileScreen {
  flex: 1;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;

  &__content {
    min-height: 700px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    min-width: 1010px;
    flex: 1;
  }
}

.Tabs {
  border-bottom: 1px solid rgba(50,50,50,0.13);

  & li{
    float: left;

    & .tabBtn {
      height: 50px;
      padding: 0 25px;
      line-height: 50px;
      font-size: 15px;
      text-transform: uppercase;
      background-color: transparent;
      outline: none;
      border: none;
      cursor: pointer;
      transition: background-color .3s;

      &-active {
        border-bottom: 2px solid #64b5f6;
      }

      &:hover {
        background-color: rgba(106, 147, 200, 0.25);
      }
    }
  }
}

//////////////////////////////ConfirmedCases///////////////////////////////////////////

.ConfirmedCases {
  padding: 20px;

  &__heading {
    font-size: 24px;
  }

  &__body {

  }
}

///////////////////////////////CaseExtraditionRequest/////////////////////////////////

.CaseExtraditionRequest {
  padding: 20px;

  &__heading {
    font-size: 24px;
    margin-bottom: 20px;
  }

  &__filter {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    min-width: 1000px;
    max-width: 1200px;

    .Select {
      width: 150px;
    }

    &_inputDay {
      width: 50px;
      margin: 0 5px;
    }


    &__checkboxWrapper {
      input[type="checkbox"]{
        vertical-align: text-top;
      }

      label {
        font-size: 16px;
        cursor: pointer;
      }
    }

    & #status {
      width: 200px;
    }

    & #searchBox {
      display: flex;
      flex: 0 0 40%;
      border: 1px solid #aaa;
      border-radius: 20px;
      padding-left: 10px;

      & label {
        padding-right: 10px;
      }

      & input[type="text"] {
        border: none;
        flex: 1;
        outline: none;
        background-color: transparent;
      }
    }
  }

  &__body {

  }
}


///////////////////////////////////////////ReferenceExtraditionRequest////////////////////////////////////

.ReferenceExtraditionRequest {
  padding: 20px;

  &__heading {
    font-size: 24px;
  }

  &__body {

  }
}

//////////////////////////////PersonalInfo//////////////////////////////

.PersonalInfo {
  display: flex;
  margin: 30px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  min-height: 600px;

  & input[type='file'] {
    display: none;
  }

  &__avatarWrapper {
    flex: 0 0 10%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }

  &__main {
    flex: 0 0 90%;

    &__btnContainer {
      padding: 10px;
      border-bottom: 1px solid #ddd;

      & button {
        margin-right: 80px;
        border: none;
        background-color: #0a88b7;
        padding: 6px 25px;
        border-radius: 2px;
        color: #fff;
        cursor: pointer;
        transition: background-color .3s;

        &:hover {
          background-color: #066fbc;
        }
      }
    }

    & table {
      width: 80%;
      table-layout: fixed;

      input {
        line-height: normal;
        padding: 5px 0;
      }

      & tr {
        height: 60px;

        td {
          padding-left: 30px;

          .ant-form-item {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}


////////////////////////////////////////////// Table Component /////////////////////////////////////////

.Table {
  & table {
    padding: 20px;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;

    & thead {
      text-align: left;
      background-color: #dedede;
    }

    & tbody {
      overflow-y: auto;
      height: 500px;
    }

    & tr {
      height: 40px;
      line-height: 40px;
      border-bottom: 1px solid #dadada;
    }

    & th, td {
      padding-left: 10px;
      white-space: nowrap;
    }

    & td input[type='checkbox'] {
      vertical-align: middle;
      -webkit-appearance: none;
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 2px solid #066fbc;
      border-radius: 2px;
      transition: background-color .3s;
      position: relative;

      &:checked {
        background-color: #066fbc;

        &:after {
          box-sizing: border-box;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          position: absolute;
          left: 4.66667px;
          top: .22222px;
          width: 6.66667px;
          height: 13.33333px;
          border-width: 2px;
          border-style: solid;
          border-top: 0;
          border-left: 0;
          content: '';
          color: #fff;
        }
      }
    }
  }
}
