.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
  padding: 16px; }

.ant-table-pagination {
  margin: 16px; }

.ant-table-selection {
  display: none; }

.readingRoom {
  height: 100%;
  width: 100%;
  flex: 1;
  padding: 5px 0;
  display: flex;
  flex-direction: column; }
  .readingRoom__head {
    margin-bottom: 20px; }
  .readingRoom__heading {
    font-size: 26px;
    color: #066fbc;
    text-transform: uppercase; }
  .readingRoom__globalSearch {
    flex: 0 0 80%;
    padding: 5px;
    text-align: center; }
    .readingRoom__globalSearch input {
      width: 50%;
      height: 30px;
      border: none;
      border-bottom: 1px solid #ddd;
      outline: none;
      font-size: 16px; }
    .readingRoom__globalSearch button {
      height: 30px;
      background-color: transparent;
      border: 1px solid #066fbc;
      padding: 0 10px;
      border-radius: 2px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 400;
      transition: background-color .3s; }
      .readingRoom__globalSearch button:hover {
        color: #fff;
        background-color: #066fbc; }
  .readingRoom__content {
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    min-width: 1010px;
    flex: 1; }

.Breadcrumbs {
  border-bottom: 1px solid rgba(50, 50, 50, 0.13); }
  .Breadcrumbs li {
    float: left; }
    .Breadcrumbs li .tabBtn {
      height: 50px;
      padding: 0 25px;
      line-height: 50px;
      font-size: 15px;
      text-transform: uppercase;
      background-color: transparent;
      outline: none;
      border: none;
      cursor: pointer;
      transition: background-color .3s; }
      .Breadcrumbs li .tabBtn-active {
        border-bottom: 2px solid #64b5f6; }
      .Breadcrumbs li .tabBtn:hover {
        background-color: rgba(106, 147, 200, 0.25); }
      .Breadcrumbs li .tabBtn:disabled {
        background-color: #e1e1e1;
        color: #999;
        cursor: default; }

.clickable-tableRow {
  height: 50px !important;
  line-height: 50px !important;
  cursor: pointer;
  transition: background-color .3s; }
  .clickable-tableRow:hover {
    background-color: #d5e5ff; }

.Fonds {
  flex: 1;
  display: flex;
  flex-direction: column; }
  .Fonds__header {
    padding-top: 5px;
    display: flex; }
    .Fonds__header .ant-input-search {
      width: 30%;
      margin-right: 30px;
      margin-left: 50%; }
  .Fonds__body {
    margin-top: 5px;
    flex: 1;
    overflow: hidden; }
    .Fonds__body .ant-table-wrapper {
      min-height: 200px; }
    .Fonds__body .row-selected {
      background-color: #dbecfd;
      cursor: pointer; }
      .Fonds__body .row-selected:hover {
        background-color: #dbecfd; }

.Inventories {
  flex: 1;
  display: flex;
  flex-direction: column; }
  .Inventories__header {
    padding-top: 15px;
    display: flex; }
    .Inventories__header .ant-breadcrumb {
      width: 50%;
      padding-left: 20px; }
    .Inventories__header .ant-input-search {
      width: 30%;
      margin-right: 30px; }
  .Inventories__body {
    margin-top: 5px;
    flex: 1;
    overflow: hidden; }
    .Inventories__body .row-selected {
      background-color: #dbecfd;
      cursor: pointer; }
      .Inventories__body .row-selected:hover {
        background-color: #dbecfd; }

.Cases {
  display: flex;
  flex-direction: column;
  flex: 1; }
  .Cases__header {
    padding-top: 15px;
    display: flex; }
    .Cases__header .ant-breadcrumb {
      width: 50%;
      padding-left: 20px; }
    .Cases__header .make-order {
      width: 20%;
      padding: 0 20px;
      text-align: right; }
    .Cases__header .ant-input-search {
      width: 30%;
      margin-right: 30px; }
  .Cases__body {
    margin-top: 5px;
    flex: 1;
    overflow: hidden; }
    .Cases__body .row-selected {
      background-color: #dbecfd;
      cursor: pointer; }
      .Cases__body .row-selected:hover {
        background-color: #dbecfd; }

.researchersActive__heading {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  background-color: #f4f4f4; }
  .researchersActive__heading-buttons {
    flex: 0 0 40%;
    display: flex;
    justify-content: space-around; }
  .researchersActive__heading-radio {
    display: flex;
    flex: 0 0 30%;
    justify-content: flex-end;
    padding-right: 20px; }
  .researchersActive__heading .ant-input-search {
    flex: 0 0 30%; }

.researchersTemporary__heading {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  background-color: #f4f4f4; }
  .researchersTemporary__heading-buttons {
    flex: 0 0 40%;
    display: flex;
    justify-content: space-around; }
  .researchersTemporary__heading .ant-input-search {
    flex: 0 0 30%; }

.editResearchersTheResearcherTopics__heading {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: #f4f4f4; }
  .editResearchersTheResearcherTopics__heading button {
    margin-right: 10px; }

.editResearchersMain__heading {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: #f4f4f4; }
  .editResearchersMain__heading button {
    margin-right: 10px; }

.editResearchersMain__body {
  padding: 20px; }

.Reports__heading {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  padding: 10px; }
  .Reports__heading button {
    margin-left: 10px; }

.Reports__chart__heading {
  padding: 10px;
  background-color: #f1f1f1; }

.Requests__table-heading {
  display: flex;
  padding: 10px;
  background-color: #f1f1f1; }
  .Requests__table-heading__buttons {
    flex: 0 0 40%; }
  .Requests__table-heading .ant-input-search {
    flex: 0 0 30%; }

.Requests__C_table-heading {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f1f1f1; }
  .Requests__C_table-heading__buttons {
    flex: 0 0 40%; }
    .Requests__C_table-heading__buttons button {
      margin-right: 15px; }
  .Requests__C_table-heading__access-btns button {
    margin-left: 15px; }

.Requests__content__heading {
  padding: 10px; }
