//AntTable overwrites

.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
  padding: 16px;
}
.ant-table-pagination {
  margin: 16px;
}

.ant-table-selection {
  display: none;
}

.readingRoom {
  height: 100%;
  width: 100%;
  flex: 1;
  padding: 5px 0;
  display: flex;
  flex-direction: column;

  &__head {
    margin-bottom: 20px;
  }

  &__heading {
    font-size: 26px;
    color: #066fbc;
    text-transform: uppercase;
  }

  &__globalSearch {
    flex: 0 0 80%;
    padding: 5px;
    text-align: center;

    & input {
      width: 50%;
      height: 30px;
      border: none;
      border-bottom: 1px solid #ddd;
      outline: none;
      font-size: 16px;

    }

    & button {
      height: 30px;
      background-color: transparent;
      border: 1px solid #066fbc;
      padding: 0 10px;
      border-radius: 2px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 400;
      transition: background-color .3s;

      &:hover {
        color: #fff;
        background-color: #066fbc;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    min-width: 1010px;
    flex: 1;
  }
}

.Breadcrumbs {
  border-bottom: 1px solid rgba(50,50,50,0.13);

  & li{
    float: left;

    & .tabBtn {
      height: 50px;
      padding: 0 25px;
      line-height: 50px;
      font-size: 15px;
      text-transform: uppercase;
      background-color: transparent;
      outline: none;
      border: none;
      cursor: pointer;
      transition: background-color .3s;

      &-active {
        border-bottom: 2px solid #64b5f6;
      }

      &:hover {
        background-color: rgba(106, 147, 200, 0.25);
      }

      &:disabled {
        background-color: #e1e1e1;
        color: #999;
        cursor: default;
      }
    }
  }
}

.clickable-tableRow {
  height: 50px!important;
  line-height: 50px!important;
  cursor: pointer;
  transition: background-color .3s;
  &:hover {
    background-color: #d5e5ff;
  }
}


///////////////////////////////Fonds//////////////////////////////////////

.Fonds {

  flex: 1;
  display: flex;
  flex-direction: column;

  &__header {
    padding-top: 5px;
    display: flex;

    .ant-input-search {
      width: 30%;
      margin-right: 30px;
      margin-left: 50%;
    }
  }

  &__body {
    margin-top: 5px;
    flex: 1;
    overflow: hidden;

    .ant-table-wrapper {
      min-height: 200px;
    }

    & .row-selected {
      background-color: #dbecfd;
      cursor: pointer;

      &:hover {
        background-color: #dbecfd;
      }
    }
  }
}

/////////////////////////////Inventories/////////////////////////////////

.Inventories {

  flex: 1;
  display: flex;
  flex-direction: column;

  &__header {
    padding-top: 15px;
    display: flex;

    .ant-breadcrumb {
      width: 50%;
      padding-left: 20px;
    }

    .ant-input-search {
      width: 30%;
      margin-right: 30px;
    }
  }

  &__body {
    margin-top: 5px;
    flex: 1;
    overflow: hidden;

    & .row-selected {
      background-color: #dbecfd;
      cursor: pointer;

      &:hover {
        background-color: #dbecfd;
      }
    }
  }
}

/////////////////////////////Cases//////////////////////////////////////////

.Cases {

  display: flex;
  flex-direction: column;
  flex: 1;

  &__header {
    padding-top: 15px;
    display: flex;

    .ant-breadcrumb {
      width: 50%;
      padding-left: 20px;
    }

    .make-order {
      width: 20%;
      padding: 0 20px;
      text-align: right;
    }

    .ant-input-search {
      width: 30%;
      margin-right: 30px;
    }
  }

  &__body {
    margin-top: 5px;
    flex: 1;
    overflow: hidden;

    & .row-selected {
      background-color: #dbecfd;
      cursor: pointer;

      &:hover {
        background-color: #dbecfd;
      }
    }
  }
}

////////////////////////////////////////////////READING ROOM ADMIN//////////////////////////////////////////

.researchersActive {
  &__heading {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    background-color: #f4f4f4;

    &-buttons {
      flex: 0 0 40%;
      display: flex;
      justify-content: space-around;
    }

    &-radio {
      display: flex;
      flex: 0 0 30%;
      justify-content: flex-end;
      padding-right: 20px;
    }

    .ant-input-search {
      flex: 0 0 30%;
    }
  }
}

///////////////////////////////////////////////////////////////////

.researchersTemporary {
  &__heading {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    background-color: #f4f4f4;

    &-buttons {
      flex: 0 0 40%;
      display: flex;
      justify-content: space-around;
    }

    .ant-input-search {
      flex: 0 0 30%;
    }
  }
}

///////////////////////////////////////////////////////////////////

.editResearchersTheResearcherTopics {
  &__heading {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: #f4f4f4;

    & button {
      margin-right: 10px;
    }
  }
}

///////////////////////////////////////////////////////////////////

.editResearchersMain {
  &__heading {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: #f4f4f4;

    & button {
      margin-right: 10px;
    }
  }

  &__body {
    padding: 20px;
  }
}

///////////////////////////////////////////////////////////////////

.Reports {
  &__heading {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    padding: 10px;

    button {
      margin-left: 10px;
    }
  }

  &__chart {
    &__heading {
      padding: 10px;
      background-color: #f1f1f1;
    }
  }
}

///////////////////////////////////////////////////////////////////

.Requests {

  &__table-heading {
    display: flex;
    padding: 10px;
    background-color: #f1f1f1;

    &__buttons {
      flex: 0 0 40%;
    }

    .ant-input-search {
      flex: 0 0 30%;
    }
  }

  &__C_table-heading {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f1f1f1;

    &__buttons {
      flex: 0 0 40%;

      button {
        margin-right: 15px;
      }
    }

    &__access-btns {

      button {
        margin-left: 15px;
      }
    }
  }

  &__content {
    &__heading {
      padding: 10px;
    }
  }

}
