// shared variables here


$min-width: 1900px;
$header: 65px;
$footer: 20px;
$book-spine: 40px;
$book-margin: 10px;
$siderMenuWidth: 250px;

$sidebar: calc(100vh - #{$header} - #{footer});
$bk-list-width: calc(10*#{$book-spine} + 10*2*#{$book-margin}); //10 books


