.tableHeader__btns {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #f7f7f7; }
  .tableHeader__btns button {
    margin: 0 20px; }
  .tableHeader__btns .Select {
    width: 140px;
    margin-right: 20px; }
  .tableHeader__btns .ant-input-search {
    width: 400px; }

.ant-popover-title {
  min-height: 25px;
  padding: 3px 8px; }

.green-bg {
  background-color: #e0f2f1;
  color: #009688; }

.red-bg {
  background-color: #ffebee;
  color: #f44336; }

.ant-table-body table {
  overflow-y: overlay; }

.ant-tabs-bar {
  margin-bottom: 0; }
  .ant-tabs-bar .ant-tabs-tab {
    font-size: 12px;
    padding-bottom: 7px !important; }
    .ant-tabs-bar .ant-tabs-tab-active {
      font-weight: 600;
      color: #009688 !important; }
    .ant-tabs-bar .ant-tabs-tab:hover {
      color: #009688; }

.Select-control {
  height: 30px; }
  .Select-control .Select-placeholder {
    line-height: 28px; }
  .Select-control .Select-value {
    line-height: 28px !important;
    height: 28px;
    margin-top: 0;
    color: #009688;
    background-color: #E0F2F1; }
    .Select-control .Select-value-label {
      height: 100%;
      line-height: 20px; }
    .Select-control .Select-value-icon {
      height: 100%;
      line-height: 20px; }
  .Select-control .Select-input {
    height: 28px; }

.long-selected-menu .Select-menu-outer {
  min-width: 250px; }
  .long-selected-menu .Select-menu-outer .ReactVirtualized__Grid {
    min-width: 300px; }
    .long-selected-menu .Select-menu-outer .ReactVirtualized__Grid__innerScrollContainer {
      max-width: unset; }

.ant-pagination-next:hover a, .ant-pagination-prev:hover a {
  border-color: #009688 !important; }

.ant-btn-primary {
  background-color: #009688;
  border-color: #009688; }

.ant-btn:hover, .ant-btn:focus {
  color: #009688;
  border-color: #009688; }

.ant-btn-primary:hover, .ant-btn-primary:focus {
  background-color: #4db6ac;
  border-color: #4db6ac; }

.ant-btn-danger:hover, .ant-btn-danger:focus {
  color: #fff;
  border-color: #fff; }

/*.ant-input:hover {
  border-color: #009688;
}*/
.ant-pagination-item:hover {
  border-color: #009688; }
  .ant-pagination-item:hover a {
    color: #009688; }

.ant-pagination-item-active {
  background-color: #FF9800;
  border-color: #FF9800; }
  .ant-pagination-item-active:focus {
    background-color: #FF9800;
    border-color: #FF9800; }
  .ant-pagination-item-active:hover {
    background-color: #FF9800;
    border-color: #FF9800; }

.ant-checkbox-checked .ant-checkbox-inner, .ant-checkbox-indeterminate .ant-checkbox-inner {
  background-color: #009688;
  border-color: #009688; }

.ant-form-item {
  margin-bottom: 12px; }

.ant-form-item-control {
  line-height: 24px; }

.Sourcing .ant-form-item {
  display: flex;
  align-items: center;
  margin-bottom: 9px; }
  .Sourcing .ant-form-item-label {
    line-height: 18px;
    white-space: normal; }

.Select-menu-outer {
  z-index: 11; }

.label-select {
  display: flex;
  align-items: center; }
  .label-select .Select {
    width: 100%;
    min-width: 100px;
    margin-left: 10px; }

.ant-table-small .ant-table-title, .ant-table-small
.ant-table-footer, .ant-table-small .ant-table-thead > tr > th {
  padding: 6px; }

.ant-table-small .ant-table-tbody > tr > td {
  padding: 8px 3px; }

.ant-table-thead .rotated-90 {
  position: relative;
  overflow: hidden;
  height: 200px; }
  .ant-table-thead .rotated-90 span {
    position: absolute;
    display: inline-block;
    transform-origin: top left;
    top: 95%;
    width: 180px;
    transform: rotateZ(-90deg); }

.no-hover-tr {
  background-color: #fff !important; }

.td-center {
  text-align: center; }

.td-btn-half button {
  width: 50%;
  min-width: 28px; }

.title {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .title h2 {
    font-size: 13px;
    margin-bottom: 10px;
    font-weight: 600;
    text-transform: uppercase; }

.Sourcing {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px 0; }
  .Sourcing .SourcesMaintenancePage, .Sourcing .FundMakerPage {
    height: 100%;
    display: flex;
    flex-direction: column; }
    .Sourcing .SourcesMaintenancePage .ant-breadcrumb, .Sourcing .FundMakerPage .ant-breadcrumb {
      margin: 10px 5px;
      font-size: 13px; }
  .Sourcing .DocsStorageConditions {
    height: 100%;
    overflow-y: auto;
    padding: 20px 15px 0; }
  .Sourcing .LegalEntitiesInventories {
    height: 100%;
    overflow-y: auto; }
  .Sourcing .passport .editable-cell {
    position: relative; }
  .Sourcing .passport .editable-cell-input-wrapper,
  .Sourcing .passport .editable-cell-text-wrapper {
    padding-right: 24px; }
  .Sourcing .passport .editable-cell-text-wrapper {
    padding: 5px 24px 5px 5px; }
  .Sourcing .passport .editable-cell-icon,
  .Sourcing .passport .editable-cell-icon-check {
    position: absolute;
    right: 0;
    width: 20px;
    cursor: pointer; }
  .Sourcing .passport .editable-cell-icon {
    line-height: 18px;
    display: none; }
  .Sourcing .passport .editable-cell-icon-check {
    line-height: 28px; }
  .Sourcing .passport .ant-table-row td:hover .editable-cell-icon {
    display: inline-block; }
  .Sourcing .passport .editable-cell-icon:hover,
  .Sourcing .passport .editable-cell-icon-check:hover {
    color: #108ee9; }
  .Sourcing .passport .editable-add-btn {
    margin-bottom: 8px; }

.EditSourcingPage {
  height: 100%;
  display: flex;
  flex-direction: column; }
  .EditSourcingPage form {
    height: 100%;
    overflow: auto; }

.Works {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column; }
  .Works__heading .table-header {
    padding: 3px 5px;
    flex-wrap: wrap; }
    .Works__heading .table-header > button {
      flex-basis: 5%; }
    .Works__heading .table-header .ant-radio-group {
      flex-basis: 10%; }
    .Works__heading .table-header .label-select {
      flex-basis: 20%;
      flex-grow: 1;
      margin-right: 5px; }
      .Works__heading .table-header .label-select .Select {
        flex-grow: 1; }
    .Works__heading .table-header .ant-input-search {
      flex-basis: 25%; }
  .Works__body {
    flex: 1;
    display: flex; }
    .Works__body .ant-table-wrapper {
      flex: 1; }
      .Works__body .ant-table-wrapper th {
        padding: 12px 5px; }
        .Works__body .ant-table-wrapper th span {
          display: flex;
          align-items: center; }
    .Works__body .card {
      width: 600px;
      display: flex;
      flex-direction: column;
      position: relative; }
      .Works__body .card > button {
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: -30px;
        top: 3px;
        z-index: 10;
        display: none; }
      .Works__body .card form {
        display: none; }
      .Works__body .card-enter {
        width: 0; }
        .Works__body .card-enter-active {
          width: 600px;
          transition: width .3s; }
        .Works__body .card-enter-done form {
          display: block; }
        .Works__body .card-enter-done > button {
          display: flex; }
      .Works__body .card-exit {
        width: 600px; }
        .Works__body .card-exit-active {
          width: 0;
          transition: width .3s; }
      .Works__body .card .ant-form {
        height: 100%;
        overflow-y: auto;
        padding: 20px 15px 0; }
        .Works__body .card .ant-form-btns {
          z-index: 99;
          position: absolute;
          left: 0;
          width: 100%;
          bottom: 0;
          box-shadow: 0 -1px 5px 0;
          background: #fff;
          margin-bottom: 0;
          padding: 5px; }
      .Works__body .card .work-description {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 5px 0;
        overflow: auto; }
  .Works .editable-cell-text-wrapper {
    position: relative;
    padding: 5px 24px 5px 5px; }
  .Works .editable-cell-icon {
    line-height: 18px;
    display: none;
    position: absolute;
    right: 0;
    width: 20px;
    cursor: pointer; }
    .Works .editable-cell-icon:hover {
      color: #009688; }
  .Works .ant-table-row td:hover .editable-cell-icon {
    display: inline-block; }
  .Works .editable-add-btn {
    margin-bottom: 8px; }
  .Works .editable-row-operations > button {
    margin-right: 7px; }
  .Works .editable-row-operations span {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /*button:not(.ant-btn-danger) {
        color: #009688;
      }*/
    /*button.green-btn {
        color: #009688;

        &:hover {
          border-color: #009688;
        }

        &.yellow-bg:hover {
          background-color: #fdd835;
        }
      }*/ }
  .WorksChecking .table-header {
    background-color: unset; }
  .WorksChecking .editable-cell {
    position: relative; }
  .WorksChecking .editable-cell-input-wrapper,
  .WorksChecking .editable-cell-text-wrapper {
    padding-right: 24px; }
  .WorksChecking .editable-cell-text-wrapper {
    padding: 5px 24px 5px 5px; }
  .WorksChecking .editable-cell-icon,
  .WorksChecking .editable-cell-icon-check {
    position: absolute;
    right: 0;
    width: 20px;
    cursor: pointer; }
  .WorksChecking .editable-cell-icon {
    line-height: 18px;
    display: none; }
  .WorksChecking .editable-cell-icon-check {
    line-height: 28px; }
  .WorksChecking .ant-table-row td:hover .editable-cell-icon {
    display: inline-block; }
  .WorksChecking .editable-cell-icon:hover,
  .WorksChecking .editable-cell-icon-check:hover {
    color: #108ee9; }
  .WorksChecking .editable-add-btn {
    margin-bottom: 8px; }

button.green-btn {
  color: #009688; }
  button.green-btn:hover {
    border-color: #009688;
    color: #009688; }
  button.green-btn:focus {
    border-color: #009688;
    color: #009688; }
  button.green-btn.yellow-bg:hover {
    background-color: #fdd835; }

.Checking {
  flex: 1;
  display: flex;
  flex-direction: column; }
  .Checking__heading .table-header {
    padding: 3px 5px;
    justify-content: flex-start; }
    .Checking__heading .table-header-btns {
      flex-basis: 10%; }
      .Checking__heading .table-header-btns Button {
        margin-right: 5px; }
    .Checking__heading .table-header .label-select {
      flex-basis: 20%;
      margin-right: 5px; }
  .Checking__body {
    flex: 1;
    display: flex; }
    .Checking__body .ant-table-wrapper {
      flex: 1; }
    .Checking__body .card {
      width: 600px;
      display: flex;
      flex-direction: column;
      position: relative; }
      .Checking__body .card > button {
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: -30px;
        top: 3px;
        z-index: 10;
        display: none; }
      .Checking__body .card form {
        display: none; }
      .Checking__body .card-enter {
        width: 0; }
        .Checking__body .card-enter-active {
          width: 600px;
          transition: width .3s; }
        .Checking__body .card-enter-done form {
          display: block; }
        .Checking__body .card-enter-done > button {
          display: flex; }
      .Checking__body .card-exit {
        width: 600px; }
        .Checking__body .card-exit-active {
          width: 0;
          transition: width .3s; }
      .Checking__body .card .ant-form {
        height: 100%;
        overflow-y: auto;
        padding: 20px 15px 0; }
        .Checking__body .card .ant-form-btns {
          z-index: 99;
          position: absolute;
          left: 0;
          width: 100%;
          bottom: 0;
          box-shadow: 0 -1px 5px 0;
          background: #fff;
          margin-bottom: 0;
          padding: 5px; }
      .Checking__body .card .work-description {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 5px;
        overflow: auto; }

.CheckingPlan {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%; }
  .CheckingPlan .ant-table-wrapper {
    height: 100%; }
  .CheckingPlan .table-header {
    background-color: unset;
    justify-content: flex-start; }
    .CheckingPlan .table-header .label-select {
      flex-basis: 20%; }

.FundMaker {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%; }
  .FundMaker__heading .table-header {
    padding: 3px 5px; }
    .FundMaker__heading .table-header > button {
      flex-basis: 5%; }
    .FundMaker__heading .table-header .ant-radio-group {
      flex-basis: 10%; }
    .FundMaker__heading .table-header .label-select {
      flex-basis: 20%;
      margin-right: 5px; }
    .FundMaker__heading .table-header .ant-input-search {
      flex-basis: 20%; }
  .FundMaker__body {
    flex: 1;
    display: flex; }
    .FundMaker__body .ant-table-wrapper {
      flex: 1; }
    .FundMaker__body .card {
      width: 600px;
      display: flex;
      flex-direction: column;
      position: relative; }
      .FundMaker__body .card > button {
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: -30px;
        top: 3px;
        z-index: 10;
        display: none; }
      .FundMaker__body .card form, .FundMaker__body .card .FundMakerContent {
        display: none; }
      .FundMaker__body .card-enter {
        width: 0; }
        .FundMaker__body .card-enter-active {
          width: 600px;
          transition: width .3s; }
        .FundMaker__body .card-enter-done form, .FundMaker__body .card-enter-done .FundMakerContent {
          display: block; }
        .FundMaker__body .card-enter-done > button {
          display: flex; }
      .FundMaker__body .card-exit {
        width: 600px; }
        .FundMaker__body .card-exit-active {
          width: 0;
          transition: width .3s; }
      .FundMaker__body .card .ant-form {
        height: 100%;
        overflow-y: auto;
        padding: 20px 15px 0; }
        .FundMaker__body .card .ant-form-btns {
          z-index: 99;
          position: absolute;
          left: 0;
          width: 100%;
          bottom: 0;
          box-shadow: 0 -1px 5px 0;
          background: #fff;
          margin-bottom: 0;
          padding: 5px; }
      .FundMaker__body .card .work-description {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 5px;
        overflow: auto; }
  .FundMakerContent .table-header {
    background-color: unset; }

.FMIndividuals {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%; }
  .FMIndividuals__heading .table-header {
    padding: 3px 5px;
    justify-content: flex-start; }
    .FMIndividuals__heading .table-header .label-select {
      flex-basis: 20%; }
    .FMIndividuals__heading .table-header-btns {
      margin-right: 5px; }
    .FMIndividuals__heading .table-header .ant-input-search {
      flex-basis: 25%;
      min-width: 200px; }
  .FMIndividuals__body {
    flex: 1;
    display: flex; }
    .FMIndividuals__body .ant-table-wrapper {
      flex: 1; }
    .FMIndividuals__body .card {
      display: flex;
      flex-direction: column;
      position: relative; }
      .FMIndividuals__body .card > button {
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: -30px;
        top: 3px;
        z-index: 10;
        display: none; }
      .FMIndividuals__body .card form, .FMIndividuals__body .card .ant-table-wrapper {
        display: none; }
      .FMIndividuals__body .card-enter {
        max-width: 0; }
        .FMIndividuals__body .card-enter-active {
          max-width: 1200px;
          transition: max-width .6s; }
        .FMIndividuals__body .card-enter-done form, .FMIndividuals__body .card-enter-done .ant-table-wrapper {
          display: block; }
        .FMIndividuals__body .card-enter-done > button {
          display: flex; }
      .FMIndividuals__body .card-exit {
        max-width: 1200px; }
        .FMIndividuals__body .card-exit-active {
          max-width: 0;
          transition: max-width .6s; }
      .FMIndividuals__body .card .ant-form {
        height: 100%;
        overflow-y: auto;
        padding: 20px 15px 0; }
        .FMIndividuals__body .card .ant-form-btns {
          z-index: 99;
          position: absolute;
          left: 0;
          width: 100%;
          bottom: 0;
          box-shadow: 0 -1px 5px 0;
          background: #fff;
          margin-bottom: 0;
          padding: 5px; }
      .FMIndividuals__body .card .work-description {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 5px;
        overflow: auto; }
      .FMIndividuals__body .card .handleBar {
        display: flex;
        justify-content: center;
        position: absolute;
        height: 100%;
        width: 10px;
        z-index: 9;
        cursor: e-resize;
        background-color: rgba(255, 255, 255, 0.3); }
        .FMIndividuals__body .card .handleBar.mouse-down {
          width: 400px; }
          .FMIndividuals__body .card .handleBar.mouse-down .handleBar-bar {
            background-color: #f1f1f1; }
        .FMIndividuals__body .card .handleBar-bar {
          height: 100%;
          width: 10px; }

.overflow-unset-table table:last-of-type {
  overflow: unset; }

.LegalEntities {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column; }
  .LegalEntities__heading .table-header {
    padding: 3px 5px;
    justify-content: flex-start; }
    .LegalEntities__heading .table-header-checkboxes {
      display: flex;
      align-items: center;
      flex-basis: 13%;
      justify-content: flex-end; }
      .LegalEntities__heading .table-header-checkboxes-label {
        margin-right: 20px; }
      .LegalEntities__heading .table-header-checkboxes-input {
        display: flex;
        flex-direction: column; }
        .LegalEntities__heading .table-header-checkboxes-input > label {
          display: flex; }
    .LegalEntities__heading .table-header .ant-radio-group {
      flex-basis: 10%; }
    .LegalEntities__heading .table-header .label-select {
      flex-basis: 20%;
      margin-right: 5px; }
    .LegalEntities__heading .table-header .ant-input-search {
      flex-basis: 20%; }
  .LegalEntities__body {
    flex: 1;
    display: flex; }
    .LegalEntities__body .ant-table-wrapper {
      flex: 1; }
    .LegalEntities__body .card {
      width: 600px;
      display: flex;
      flex-direction: column;
      position: relative;
      /*.ant-form {
        height: 100%;
        overflow-y: auto;
        padding: 20px 15px 0;

        &-btns {
          z-index: 99;
          position: absolute;
          left: 0;
          width: 100%;
          bottom: 0;
          box-shadow: 0 -1px 5px 0;
          background: #fff;
          margin-bottom: 0;
          padding: 5px;
        }
      }*/ }
      .LegalEntities__body .card > button {
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: -30px;
        top: 3px;
        z-index: 10;
        display: none; }
      .LegalEntities__body .card form, .LegalEntities__body .card .LegalEntitiesInventoriesSmall, .LegalEntities__body .card .ant-table-wrapper {
        display: none; }
      .LegalEntities__body .card-enter {
        width: 0; }
        .LegalEntities__body .card-enter-active {
          width: 600px;
          transition: width .3s; }
        .LegalEntities__body .card-enter-done form, .LegalEntities__body .card-enter-done .LegalEntitiesInventoriesSmall, .LegalEntities__body .card-enter-done .ant-table-wrapper {
          display: block;
          height: 100%; }
        .LegalEntities__body .card-enter-done > button {
          display: flex; }
      .LegalEntities__body .card-exit {
        width: 600px; }
        .LegalEntities__body .card-exit-active {
          width: 0;
          transition: width .3s; }
  .LegalEntitiesCard {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .LegalEntitiesCard a {
      flex: 0 0 250px;
      height: 250px;
      margin: 0 25px; }
    .LegalEntitiesCard_card {
      position: relative;
      display: flex;
      height: 100%;
      border-radius: 5px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      justify-content: center;
      font-size: 22px;
      font-weight: bold;
      padding: 20px;
      text-align: center;
      line-height: 24px;
      transition: .3s;
      color: rgba(0, 0, 0, 0.65); }
      .LegalEntitiesCard_card:hover {
        box-shadow: 0 9px 7px 0 rgba(0, 0, 0, 0.3), 0 4px 12px 0 rgba(0, 0, 0, 0.36); }
        .LegalEntitiesCard_card:hover::before {
          opacity: 1; }
      .LegalEntitiesCard_card::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: url("../assets/img/book-bg.png") no-repeat;
        background-size: contain;
        background-position-y: bottom;
        opacity: .7; }
  .LegalEntitiesInventoriesMain {
    height: 100%;
    display: flex; }
    .LegalEntitiesInventoriesMain__property {
      overflow: auto;
      flex: 0 0 320px;
      padding: 10px;
      margin: 2px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
    .LegalEntitiesInventoriesMain__table {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin: 2px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
      .LegalEntitiesInventoriesMain__table__heading .table-header {
        justify-content: flex-start;
        padding: 3px; }
        .LegalEntitiesInventoriesMain__table__heading .table-header button {
          margin-right: 5px; }
      .LegalEntitiesInventoriesMain__table__body {
        display: flex;
        flex: 1; }
        .LegalEntitiesInventoriesMain__table__body .ant-table-wrapper {
          flex: 1; }
        .LegalEntitiesInventoriesMain__table__body .card {
          width: 600px;
          display: flex;
          flex-direction: column;
          position: relative; }
          .LegalEntitiesInventoriesMain__table__body .card > button {
            width: 40px;
            height: 40px;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: -30px;
            top: 3px;
            z-index: 10;
            display: none; }
          .LegalEntitiesInventoriesMain__table__body .card .ant-tree {
            display: none;
            height: calc(100% - 40px);
            overflow-y: auto; }
          .LegalEntitiesInventoriesMain__table__body .card-enter {
            width: 0; }
            .LegalEntitiesInventoriesMain__table__body .card-enter-active {
              width: 600px;
              transition: width .3s; }
            .LegalEntitiesInventoriesMain__table__body .card-enter-done .ant-tree {
              display: block;
              padding-left: 20px; }
              .LegalEntitiesInventoriesMain__table__body .card-enter-done .ant-tree li {
                white-space: normal; }
                .LegalEntitiesInventoriesMain__table__body .card-enter-done .ant-tree li span.ant-tree-node-content-wrapper {
                  width: 80%; }
            .LegalEntitiesInventoriesMain__table__body .card-enter-done > button {
              display: flex; }
          .LegalEntitiesInventoriesMain__table__body .card-exit {
            width: 600px; }
            .LegalEntitiesInventoriesMain__table__body .card-exit-active {
              width: 0;
              transition: width .3s; }
    .LegalEntitiesInventoriesMain .ant-table-tbody td:first-child .editable-cell {
      display: inline-block;
      width: calc( 100% - 85px);
      min-width: 45px; }

.CaseNomenclatureCard .ant-table-tbody td:first-child .editable-cell {
  display: inline-block;
  width: calc( 100% - 85px);
  min-width: 45px; }

.CaseNomenclatureCard .label-select {
  margin: 5px;
  justify-content: flex-end; }

.CaseNomenclatureCard .ant-table-title {
  padding: 0 !important; }
  .CaseNomenclatureCard .ant-table-title .table-header {
    padding: 3px 5px; }
    .CaseNomenclatureCard .ant-table-title .table-header-btns button {
      margin-right: 10px; }

.Individuals {
  height: 100%; }
  .Individuals .table-header {
    padding: 3px 5px;
    justify-content: flex-end; }
    .Individuals .table-header .ant-input-search {
      flex: 0 0 300px; }

.ProviderInfo {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  flex: 1;
  overflow-y: auto;
  flex-wrap: wrap; }
  .ProviderInfo form {
    flex: 0 0 700px;
    margin-right: 40px; }
  .ProviderInfo .ant-table-wrapper {
    height: auto;
    flex: 0 0 700px; }
    .ProviderInfo .ant-table-wrapper .ant-spin-nested-loading {
      height: auto; }

.Schedule {
  height: 100%;
  display: flex;
  flex-direction: column; }
  .Schedule .title {
    margin: 3px; }
  .Schedule .table-header {
    justify-content: flex-start;
    padding: 3px; }
    .Schedule .table-header .label-select {
      flex-basis: 20%;
      margin-right: 5px; }
