@import url(../../../auth/styles/loginForm.css);
@import url(../../../auth/styles/loginScreen.css);
@import url(../../../auth/styles/signupForm.css);
@import url(../../../auth/styles/signupScreen.css);
@import url(../../styles/header.css);
@import url(../../styles/heroScreen.css);
@import url(../../styles/homeScreen.css);
@import url(../../styles/mainLayout.css);
@import url(~react-select/dist/react-select.css);
@import url(~react-virtualized-select/styles.css);
@import url(./form_styles.css);
@import url(../../styles/bookshelf.css);
@import url(../../styles/modal.css);
@import url(../../styles/collectionsLayout.css);
@import url(../../styles/profileScreen.css);
@import url(../../styles/helpScreen.css);
@import url(../../styles/readingRoom.css);
@import url(../../styles/footer.css);
@import url(../../styles/archiveFund.css);
@import url(../../styles/leaderWorkplace.css);
@import url(../../styles/NSA.css);
@import url(../../styles/sourcing.css);
/*@font-face {
  font-family: 'Avenir-Book';
  font-style: normal;
  font-weight: normal;
  src: local("Avenir LT Std 45 Book"), url("fonts/avenir/AvenirLTStd-Book.woff") format("woff");
}

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: normal;
  src: local("Avenir LT Std 35 Light"), url("fonts/avenir/AvenirLTStd-Light.woff") format("woff");
}*/
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'small Arial', sans-serif;
  overflow: hidden; }

#root {
  display: flex;
  flex-direction: column;
  min-width: 900px;
  overflow: hidden; }
